# Virtual Environment

.venv/

# Python

**pycache**/
*.pyc

# Environment

.env

# Storage

storage/
storage - Copy/

# Test Documents

*.pdf

# FAISS

*.faiss
*.pkl

# Testing

.pytest_cache/

# IDE

.vscode/
.idea/

# OS

.DS_Store
Thumbs.db
